<h1>Pecha Kucha!</h1>
<form action="/start" method="post">
  <input class='start_button' type="submit" value="Start Pecha Kucha">
  <p id="enter">Enter the names separated by a comma..</p>
</form>

<section>
  <section id='form_container'> 
    <form class='table' action="/" method="post">
    <section>
    <textarea id="mytext" name="user" class="expanding" value='name'>
    </textarea>
    </section>
  </section>
  <section id='add'>
      <input class='button' type="submit" value="Add">
    </form>
    <section id='board'>
    <% @list.each do |item| %>
      <%= item %><br>
    <% end %>
    </section>
  </section>
</section>
