
  <form class='table' action="/" method="post">
    <input type="text" name="user1"><br>
    <input type="text" name="user2"><br>
    <input type="text" name="user3"><br>
    <input type="text" name="user4"><br>
    <input type="text" name="user5"><br>
    <input class='button' type="submit" value="Add">
  </form>

  <!-- TODO: add user to a list, list them -->
  <br>
  <form action="/start" method="post">
    <input class='start_button' type="submit" value="Start Pecha Kucha">
  </form>
  <!-- TODO: add css styling for this page -->
