<!DOCTYPE html>
<center>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pecha Kucha Registration</title>
  <link rel='stylesheet' href='normalize.css'>
  <link rel='stylesheet' href='styles.css'>
  <script src='/jquery-1.11.2.min.js'></script>
  <script src='/expanding.js'></script>
  <script src='/app.js'></script>
</head>
<body>
  <%=yield%>
</body>
</html>
</center>