<%if @user %>
  <p>Big round of applause for : <%= @user %></p>
  <form action="/start" method="post">
    <input type="submit" value="Next">
  </form>
<%else%>
  <%redirect "/stop"%>
  <!-- <form action="/stop" method="get"> -->
    <!-- <input type="submit" value="Next"> -->
  <!-- </form> -->
<%end%>

<object>
<param name="autostart" value="true">
<param name="src" value="applause-01.mp3">
<param name="autoplay" value="true"> 
<!-- <param name="controller" value="true"> -->
<!-- <embed src="clap.caf" controller="true" autoplay="true" autostart="True" type="audio/caf" /> -->
</object>