<%if @user %>
  <p>Big round of applause for : <%= @user %></p>
  <form action="/start" method="post">
    <input class='button' type="submit" value="Next">
  </form>
<%else%>
  <%redirect "/stop"%>
<%end%>

<audio style='visibility:hidden;' controls autoplay>
  <source src="applause-01.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>