
<%if @user %>
  <p>Big round of applause for : <%= @user %></p>
  <form action="/start" method="post">
    <input type="submit" value="Next">
  </form>
<%else%>
  <%redirect "/stop"%>
  <!-- <form action="/stop" method="get"> -->
    <!-- <input type="submit" value="Next"> -->
  <!-- </form> -->
<%end%>