<p id="last">That's all!! Thank you for participating!</p>

<p id="authors">Sanda, Jin and Matteo..</p>

<audio style='visibility:hidden;' controls autoplay>
  <!-- <source src="DrumRoll.mp3" type="audio/mp3"> -->
  <source src="Tada.wav" type="audio/wav">
Your browser does not support the audio element.
</audio>