section {
	font-family: Futura;
	font-size: 23px;
}

h1 {
	font-family: Verdana;
	color: #33CC66;
}

.start_button {
	border: 2px solid;
    border-radius: 25px;
	background-color: yellow;
	box-shadow: 10px 10px 5px #888888;
}

.button {
	border: 2px solid;
    border-radius: 25px;
	background-color: red;
	box-shadow: 10px 10px 5px #888888;
}